@use "src/assets/css/modules/colors";

.eu-style {
  margin-top: 150px;

  .modal-dialog {
    border: 2px solid colors.$modal-border-color;
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: 2px solid colors.$modal-border-color !important;
  }

  .btn-close {
    background-color: colors.$modal-border-color !important;
    opacity: 1 !important;
  }
}