.eu-style {
  margin-top: 150px;

  .modal-dialog {
    border: 1px solid salmon;
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: 1px solid salmon !important;
  }

  .btn-close {
    background-color: goldenrod !important;
    opacity: 1 !important;
  }
}