@use "src/assets/css/modules/colors";
@use "src/assets/css/modules/mixins";

@media (max-width: 991px){
  nav {
    .nav-wrapper-desktop {
      display: none;
    }

    .nav-wrapper-mobile {

      @include mixins.configurarMedidas(140px, 100%);
      @include mixins.establecerFlex(column, wrap);
      @include mixins.alinearComponentes();

      background-color: colors.$navbar-background-color;
      position: fixed;
      z-index: 1500;

      .logo-text{
        font-weight: bolder;
        font-size: large;
      }

      i {
        color: colors.$bahagames-main;
      }

      span {
        color: white;
      }

      img {
        border: 1px solid colors.$bahagames-main;
      }

      .main-bar {
        @include mixins.configurarMedidas(70px, 100%);
        @include mixins.establecerFlex(row, wrap);
        @include mixins.alinearComponentes(space-between);
        box-shadow: 0 0 5px colors.$bahagames-main;

        .logo {
          margin-left: 10px;
        }

        .profile {
          margin-right: 10px;
        }
      }

      .search-bar{
        @include mixins.configurarMedidas(70px, 100%);
        @include mixins.establecerFlex(row, wrap);
        @include mixins.alinearComponentes();
        box-shadow: 0 0 5px colors.$bahagames-main;
      }
    }
  }
}

@media (min-width: 991px){
  nav {

    .nav-wrapper-mobile {
      display: none;
    }

    .nav-wrapper-desktop {
      @include mixins.configurarMedidas(70px, 100%);
      @include mixins.establecerFlex(row, wrap);
      @include mixins.alinearComponentes(space-between);
      box-shadow: 0 0 5px colors.$bahagames-main;

      background-color: colors.$navbar-background-color;
      position: fixed;
      z-index: 1500;

      .logo-text{
        font-weight: bolder;
        font-size: large;
      }

      i {
        color: colors.$bahagames-main;
      }

      span {
        color: white;
      }

      img {
        border: 1px solid colors.$bahagames-main;
      }
    }
  }
}





