@use "src/assets/css/modules/colors";
@use "src/assets/css/modules/mixins";

nav {
  .nav-wrapper {
    @include mixins.configurarMedidas(70px, 100%);
    @include mixins.establecerFlex();
    @include mixins.alinearComponentes(space-between);
    box-shadow: 0 0 5px colors.$bahagames-main;

    background-color: colors.$navbar-background-color;
    position: fixed;
    z-index: 1500;

    .logo-text{
      font-weight: bolder;
      font-size: large;
    }

    i {
      color: colors.$bahagames-main;
    }

    span {
      color: white;
    }

    img {
      border: 1px solid colors.$bahagames-main;
    }
  }
}