@use "src/assets/css/modules/colors";
@use "src/assets/css/modules/mixins";

.game-card {

  .game-box {
    box-shadow: 0 0 5px colors.$bahagames-main;

    img {
      max-height: 250px;
    }

    .star-filled {
      color: colors.$bahagames-star;
    }

  }
}