.ec-style {
  .btn-close {
    background-color: goldenrod !important;
    opacity: 1 !important;
    max-height: 100% !important;
  }

  .modal-header {
    border-bottom: 1px solid salmon !important;
  }

  .modal-content {
    border: 2px solid salmon;
    border-radius: 10px;
  }
}