@media (max-width: 991px) {
  .mygames-wrapper {
    height: calc(100vh - 346px);
  }
}


@media (min-width: 991px) {
  .mygames-wrapper {
    height: calc(100vh - 280px);
    overflow-y: auto;
  }
}
